.containerSuper{
  display: grid;
  grid-auto-rows: auto;
  -ms-grid-row-align: center;
}
.containerInner{
  display: grid;
  grid-auto-columns: auto;
  gap: .5rem;
}
.contentKey{
  grid-column: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-wrap: wrap;
  text-align: end;
}
.contentValue{
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-wrap: wrap;
  text-align: start;

}

@media screen and (max-width: 768px) {
  .containerInner{
    gap: .2rem;
  }

}
