* {
  box-sizing: border-box;
}
/* #root {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
} */
body {
  padding: 4rem 0;
  margin: 0;
  overflow: scroll;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: invisible; /* color of the tracking area */
}
body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-corner {
  background: invisible; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: transparent; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(128, 128, 128, 0.3); /* creates padding around scroll thumb */
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 4rem);
}
.AppBody {
  padding: 2rem 4rem;
  flex: 1;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.border-glass-full {
  border: 1px solid rgba(255, 255, 255, 0.23);
  border-radius: 8px;
}
.border-glass-b {
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
  border-radius: 8px;
}
.border-glass-t {
  border-top: 1px solid rgba(255, 255, 255, 0.23);
  border-radius: 8px;
}
.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media screen and (max-width: 767px) { /* Mobile */
  body {
    padding: 2rem 0;
  }
  .AppBody {
    padding: 1rem 1.5rem;
  }
  .container {
    max-width: 24rem;
    padding: 0 .875rem;
    margin: 0 auto;
  }
  .App {
    min-height: calc(100vh + 2rem); /* Corrigir Footer Height */
  }

}
@media screen and (min-width: 768px) and (max-width: 1023px) { /* Tabalet */
  body {
    padding: 2rem 0;
  }
  .AppBody {
    padding: 2rem 1.5rem;
  }
  .container {
    max-width: 14rem;
    padding: 0 .875rem;
    margin: 0 auto;
  }
  .App {
    min-height: calc(100vh + 2rem); /* Corrigir Footer Height */
  }
}
